.navbar{
    background-color: #ffffff;
}

.navbar .navbar-nav .nav-link{
    color: #000000;
    font: 1.1rem;
}

@media screen and (min-width:768px){
    .navbar-brand{
        margin-right: 0;
        padding: 0 2rem;
    }

    .navbar .navbar-nav .nav-link{
        padding: 0.5rem 2rem;
    }

    .hero div, .about-Us , .contact {
        max-width: 50%;
    }
}

@media screen and (min-width:768px){
    .container-lg{
        max-width: 80%git;
    }
}